body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

nav {
  display: block;
}

#navbar {
  position: fixed;
  min-width: 290px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

#navbar ul {
  overflow-y: auto;
  height: 88%;
  overflow-x: hidden;
}
